body {
  margin: 10px;
  padding: 20px;
  background-color: black;

}

.container {
  margin: 100px;
  padding: 15px;
  background-color: white;
}

.html_logo {
  width: 60px;
  height: 60px;
  float: left;
}

#elipsis {
  float: left;
  align: left;
  background-color: white;
  width: 60px;
  height: 60px;
}

#foto {
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
  overflow: hidden;

}

#like i {
  max-width: 100%;
  max-height: 100%;
  border-color: red;
}

#comment{
  max-width: 100%;
  max-height: 100%;
}

#save {
  max-width: 100%;
  max-height: 100%;
}

#send{
  max-width: 100%;
  max-height: 100%;
  font-weight: bolder;
}
